/* prettier-ignore */
body, div, p, span {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-size: 14px;
  margin: 2em;
  background: #f3f3f3;
}

h4 {
  margin: 2em 0 0;
  line-height: 1em;
}

.log-area-wrapper,
.touch-area-wrapper {
  display: flex;
  overflow-x: auto;
}

.touch-area {
  position: relative;
  border: 1px solid #419860;
  margin: 1em 0;
  box-sizing: border-box;
  background: #c8f1d7;
  color: #419860;
  height: 8em;
  width: 8em;
  min-width: 8em;
  margin-right: 1em;
  padding: 1em;
  user-select: none;
  word-break: break-all;
}

.touch-area .child {
  position: absolute;
  right: 0.4em;
  bottom: 0.4em;
  line-height: 1em;
  background: #6b0f0f;
  color: white;
  padding: 0.2em;
}

#dummy_area {
  pointer-events: none;
  visibility: hidden;
}

.log-area-wrapper {
  overflow-x: hidden;
}

.log-area-wrapper > div {
  margin: 0 1em 0 0;
}

.log-area {
  position: relative;
  background: #222;
  font-size: 0.9em;
  height: 24em;
  width: 11em;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 1em 0 0;
  transform: translateZ(0);
}

.log-area p {
  font-size: 1em;
  line-height: 1.2em;
  font-weight: bold;
}

.log-area p .count {
  background: #444;
  color: white;
  font-size: 0.7em;
  border-radius: 0.5em;
  margin: 0 0 0 0.5em;
}

.log-area::-webkit-scrollbar,
.log-area::-webkit-scrollbar-thumb {
  width: 0.5em;
  border-radius: 0.25em;
}

.log-area::-webkit-scrollbar-thumb {
  background-color: #888;
}
